#body {
    background-image: url('background.jpg');
    background-size: 100%;
}

#bmi {
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 2.5%;
    padding-top: 1%;
    padding-bottom: 0.8%;
    border-radius: 10px;
    background-color: #C8C748;
    border: none;
}

#bmi p {
    text-align: center;
    color: black;
    font-family: 'karla', sans-serif;
    font-size: 1.3vw;
    margin-bottom: 12%;
    margin-top: 10%;
    background-color: rgba(0, 0, 0, 0.1);
}

#form {
    text-align: center;
    margin-bottom: 8%;
}

#form label {
    font-size: 1.4vw;
    color: #001650;
}

#form input {
    text-align: center;
    margin-bottom: 10%;
    margin-top: 2.2%;
    padding: 0.5%;
    border-radius: 5px;
    border-color: white;
    color: #353535;
    font-family: 'karla', sans-serif;
    font-size: 1.1vw;
}

#form h3 {
    margin-top: 8%;
    font-family: 'karla', sans-serif;
    font-size: 1.4vw;
    color: #001650;
}

#form h5 {
    font-family: 'karla', sans-serif;
    font-size: 1.2vw;
    margin-top: 2.5%;
    margin-bottom: 12%;
    font-weight: normal;
    color: #001650;
}

#form button {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 6%;
    padding-right: 6%;
    border-radius: 5px;
    border-color: white;
}
